.checkout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout_title {
  padding: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #d3d3d3;
}

.checkout_ad {
  width: 100%;
  margin-bottom: 10px;
}

/* media queries */

@media screen and (max-width: 770px) {
  .checkout {
    display: block;
  }
}
